<section id="content-1-3" class="content-block content-1-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="underlined-title">
          <h1>Here's why you'll love us...</h1>
          <hr style="display: block;">
        </div>
        <div class="services-wrapper">
          <div class="col-md-4">
            <div class="icon bg-crete">
              <span class="fa fa-laptop"></span>
            </div>
            <h4>A Boookmark's Best Friend</h4>
            <p>Your bookmarks will never be homeless again.</p>
          </div>
          <div class="col-md-4">
            <div class="icon bg-finn">
              <span class="fa fa-code"></span>
            </div>
            <h4>Rails Web Development</h4>
            <p>Created with the scale ond flexibility that Rails offers modern web developers.</p>
          </div>
          <div class="col-md-4">
            <div class="icon bg-sunflower">
              <span class="fa fa-rocket"></span>
            </div>
            <h4>Quick Response Times</h4>
            <p style="display: block;">QuickMarks is made to be...quick!&nbsp;</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>