<div class="copyright-bar bg-black">
  <div class="container">
    <p class="pull-left small"> © Vertical Up Design <i class="fa fa-fighter-jet"></i><a href="http://www.chriskibble.net/about"> Chris Kibble </a> </p>
    <p class="pull-right small">Hand Crafted in DC</p>
    <p class="pull-right small"><br></p>
  </div>
</div>
