<header id="header-3" class="header-3">
  <nav>
    <div class="container">
      <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <nav class="pull">
          <ul class="top-nav">
            <li>
              <a href="#">Home <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Features <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Pages <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Portfolio <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Team <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
            <li>
              <a href="#">Contact <span class="indicator"><i class="fa fa-angle-right"></i></span></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!-- /.nav -->
</header>
<header id="header-1" class="header-1">
  <!-- Navbar -->
  <nav class="main-nav navbar-fixed-top headroom headroom--pinned">
    <div class="container">
      <!-- Brand and toggle -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#">
          <img src="quickmarks-logo.png" class="brand-img img-responsive">
        </a>
      </div>
      <!-- Navigation -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right" style="display: block;">
          <li class="active nav-item">
            <a href="#">Home</a>
          </li>
          <li class="nav-item">
            <a href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <a href="#">TOPICS</a>
          </li>
          <!--//dropdown-->
          <li class="nav-item">
            <a href="#">MY PROFILE</a>
          </li>
        </ul>
        <!--//nav-->
      </div>
      <!--// End Navigation -->
    </div>
    <!--// End Container -->
  </nav>
  <!--// End Navbar -->
</header>