<section class="content-block-nopad bg-deepocean footer-wrap-1-2">
  <div class="container footer-1-2">Your Quick Social Bookmarking Site
    <div class="big-social row">
      <div class="col-sm-2 col-sm-offset-3 social-item google">
        <a href="https://github.com/ckib16" style="display: block;"><i class="social-icon fa fa-2x fa-github"></i><h4 class="action">GitHub</h4></a>
      </div>
      <div class="col-sm-2 social-item facebook">
        <a href="https://www.linkedin.com/in/ckibble"><i class="social-icon fa fa-2x fa-linkedin"></i><h4 class="action">LinkedIn</h4></a>
      </div>
      <div class="col-sm-2 social-item twitter">
        <a href="http://www.chriskibble.net/"><i class="social-icon fa fa-2x fa-laptop"></i><h4 class="action">Blog</h4></a>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>