<section class="content-block-nopad bg-deepocean footer-wrap-1-2">
  <div class="container footer-1-2">Your Quick Social Bookmarking Site
    <div class="big-social row">
      <div class="col-sm-2 col-sm-offset-3 social-item facebook">
        <a href="https://www.linkedin.com/in/ckibble"><i class="social-icon fa fa-2x fa-linkedin"></i><h4 class="action">Link Up</h4></a>
      </div>
      <div class="col-sm-2 social-item twitter">
        <a href="https://twitter.com/ckib16"><i class="social-icon fa fa-2x fa-twitter"></i><h4 class="action">Follow Me</h4></a>
      </div>
      <div class="col-sm-2 social-item google">
        <a href="http://www.chriskibble.net/" style="display: block;"><i class="social-icon fa fa-2x fa-desktop"></i><h4 class="action">My Blog</h4></a>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>