<h1>About QuickMarks</h1>
<p class="lead">Quickmarks was one of my first Rails projects. I hope you enjoy it.</p>

<h3>How To Use</h3>
<p>Quickmarks is a social bookmarking site. It allows you and others to store any URL you find on the web for future use. You can store, organize and "like" your favorite links, as well as view the links that others have stored.</p>

<h4>Storing and Organizing Links</h4>
<p>You can store a new link by first creating a topic. This topic will serve as a public "folder" for you and other QuickMarks users to store similar links. You can create a topic by going to Topics > Create Topics.</p>

<p>Once you have created a topic, you and other QuickMarks users can click on the topic name to go inside the topic folder. At the bottom of the topic page you will see an entry field called "New Bookmark URL". You can enter in your bookmark's full link here (for example - http://www.google.com) and hit save. All other QuickMarks users will now have access to this link as well.</p>

<p><b>Please note: you should save the full URL path, to include the "http://" part in front in of your links. This will enable QuickMarks to take you directly to your bookmarked website when clicking on the link from within QuickMarks.</b></p>

<h4>Email Integration</h4>
<p>You can also save links to your Quickmarks account via email. Just send an email from your email account associated with Quickmarks to the address listed on top f the "Topics" page. The email subject should contain the Topic and the email body should contain the URL. </p>

<h4>"Liking" Links</h4>
<p>You can highlight your favorite links by clicking on the link name itself, and then hitting the "Like" button.</p>

<h4>Profile Page</h4>
<p>Finally, your profile page will show you a collection of all links you have personally added to QuickMarks, as well as all the links that you have marked as "liked'.</p>

<h1>Enjoy Quickmarks!</h1>