<h1>About QuickMarks</h1>
<p class="lead">Quickmarks was one of my first Rails projects. I hope you enjoy it.</p>

<h3>How To Use</h3>
<p>Quickmarks allows users to store any link they find on the web for future use. You can store, share and favorite your links. So start building your own collection today!</p>