<br/>

<div class="row">
  <div class="jumbotron">
    <h1>Welcome to QuickMarks!</h1>
     <p>QuickMarks is a clone of the social bookmarking app Delicio.us. It lets you save and share webpage links.</p>
  </div>
</div>

<br/>

<div>
  <p>
    <% if current_user %>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
    <% end %>
  </p>
</div>

